@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Poppins:wght@400;500&display=swap");

:root {
    /* --clr-main: #FE0000; */
    --clr-main: #F0006D;


    --clr-secondary: #070500;
    --separate-bg: #202020;
    --default-bg: #151515;


    --grad-one: #5C6BFF;
    --grad-two: #C57CFE;
    --grad-three: #D6085D;
    
    --gradient-bg2: linear-gradient(to right, var(--grad-one), var(--grad-two));

    --gradient-bg: linear-gradient(110deg, var(--grad-one) -4%, var(--grad-two) 35%, var(--grad-three) 124%);

    
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  background-color: var(--default-bg);
  color: #e9e9e9;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow-x: hidden;
}


a, span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--clr-main);
  text-decoration: none;
}

label {
  text-transform: capitalize !important;
  margin-bottom: 6px;
}


img {
max-width: 100%;
}

main {
display: block;
}


p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: inherit;
margin: 0;
font-family: var(--h-font);
line-height: 1.3;
font-weight: 700;
color: #fff;
}

ul,
ol {
margin: 0;
padding: 0;
list-style: none;
}

dt {
margin-left: 0;
}

hr {
box-sizing: content-box;
height: 0;
overflow: visible;
border-top-width: 1px;
margin: 0;
clear: both;
color: inherit;
}

pre {
font-family: monospace, monospace;
font-size: inherit;
}

address {
font-style: inherit;
}

a {
background-color: transparent;
text-decoration: none;
color: inherit;
}

a, button {
cursor: revert;
}

abbr[title] {
text-decoration: underline dotted;
}

b,
strong {
font-weight: bolder;
}

code,
kbd,
samp {
font-family: monospace, monospace;
font-size: inherit;
}

small {
font-size: 80%;
}

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sub {
bottom: -0.25em;
}

sup {
top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
vertical-align: bottom;
}

img {
max-inline-size: 100%;
max-block-size: 100%;
max-width: 100%;
height: auto;
user-select: none;
}

button,
input,
optgroup,
select,
textarea {
-webkit-appearance: none;
appearance: none;
vertical-align: middle;
color: inherit;
font: inherit;
background: transparent;
padding: 0;
margin: 0;
border-radius: 0;
text-align: inherit;
text-transform: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
cursor: pointer;
-webkit-appearance: button;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
cursor: default;
}

:-moz-focusring {
outline: auto;
}

select:disabled {
opacity: inherit;
}

option {
padding: 0;
}

fieldset {
margin: 0;
padding: 0;
min-width: 0;
}

legend {
padding: 0;
}

progress {
vertical-align: baseline;
}

textarea {
overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
height: auto;
}

[type=search] {
outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
-webkit-appearance: none;
}

::-webkit-file-upload-button {
-webkit-appearance: button;
font: inherit;
}

[type=number] {
-moz-appearance: textfield;
}

label[for] {
cursor: pointer;
}

details {
display: block;
}

summary {
display: list-item;
}

[contenteditable]:focus {
outline: auto;
}

table {
border-color: inherit;
border-collapse: collapse;
}

caption {
text-align: left;
}

td,
th {
vertical-align: top;
padding: 0;
}

th {
text-align: left;
font-weight: bold;
}

footer {
margin-top: auto;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--clr-main);
  transition: 0.3s;
}

footer {
    margin-top: auto;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

select {
    cursor: pointer;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

*:focus {
    outline: none;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

span {
    display: inline-block;
}

a:hover {
    color: var(--clr-main);
}

hr {
    background-color: #cbcbcb;
    opacity: 0.65;
}

h1 {
  font-size: 4.125rem;
}

h2 {
  font-size: 3.125rem;
}

@media (max-width: 991px) {
  h2 {
      font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  h2 {
      font-size: 2rem;
  }
}

h3 {
  font-size: 2.375rem;
}

@media (max-width: 1199px) {
  h3 {
      font-size: 2rem;
  }
}

@media (max-width: 767px) {
  h3 {
      font-size: 1.75rem;
  }
}

@media (max-width: 575px) {
  h3 {
      font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.75rem;
}

@media (max-width: 767px) {
  h4 {
      font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  h4 {
      font-size: 1.375rem;
  }
}

h5 {
  font-size: 1.375rem;
}

@media (max-width: 767px) {
  h5 {
      font-size: 1.25rem;
  }
}

h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  word-break: break-word;
}

p, li, span {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 500;
}